@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Mate SC", serif;
	background-color: rgb(235, 185, 134);
}

.header {
	max-width: 80%;
	margin: 0 auto;
	padding: 12px 10px;
	font-size: 25px;
}
.header a {
	color: rgb(106, 202, 10);
	display: inline-block;
	padding-top: 10px;
	text-decoration: none;
	font-size: 3rem;
}

main {
	max-width: 80%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 80px;
}

.recipe-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	list-style: none;
	padding: 0;
}

.recipe-card a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: #444;
	font-size: 22px;
}
.recipe-card img {
	display: block;
	height: 300px;
	object-fit: cover;
	margin-bottom: 12px;
	border: 0.5px solid #444;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
		-8px -8px 12px 0 rgba(255, 255, 255, 0.1);
	/* box-shadow: 3px 3px 3px rgb (208 208 208), -3px -3px 3px rgb (248 248 248); */
	border-radius: 3px;
}

.recipe h1 {
	font-size: 48px;
	font-weight: bolder;
	color: #000;
	margin-bottom: 15px;
	font-family: "Viaoda Libre", cursive;
	text-transform: capitalize;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 350px;
	gap: 30px;
}

.recipe img {
	display: block;
	height: 350px;
	/* width: 400px; */
	object-fit: cover;
	margin-bottom: 12px;
	border: 0.5px solid #444;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
		-8px -8px 12px 0 rgba(255, 255, 255, 0.1);
	border-radius: 3px;
}

.breakdown {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 10px;
	border: 0.5px solid #444;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
	-8px -8px 12px 0 rgba(255, 255, 255, 0.1);
}

.ingredients {
	list-style: none;
	padding: 25px 10px;
	border-right: 0.5px solid #444;
}

.ingredient {
	margin-bottom: 15px;
}

.instructions {
	padding: 15px;
}
